// Import Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

// Colors

// Card colors
$clr-card-red: hsl(0, 78%, 62%);
$clr-card-cyan: hsl(180, 62%, 55%);
$clr-card-orange: hsl(34, 97%, 64%);
$clr-card-blue: hsl(212, 86%, 64%);

$clr-neutral-200: hsl(234, 12%, 34%);
$clr-neutral-400: hsl(229, 6%, 66%);
$clr-neutral-700: hsl(0, 0%, 98%);

$clr-neutral-o: hsla(204, 54%, 75%, 0.2);

$font-stack: 'Poppins', sans-serif;
